{% extends "common/templates/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



{% set heading = "Add an objective" %}
{% set errorHeading = "Error - " + heading %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backurl
    }) }}
{% endblock %}

{% block content %}

    {# include errorSummary partial #}
    {{ super() }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ heading }}</h1>
            <form method="post" novalidate>
                <div class="govuk-inset-text">
                    You’ll be able to add actions for this objective next.
                </div>
            {{  govukCharacterCount({
                id: 'objective',
                name: 'objective',
                value: description | safe,
                label: {
                    classes: 'govuk-label--m',
                    text: 'Objective description'
                },
                maxwords: 50,
                hint: {
                    text: 'What does the individual need to achieve?'
                },
                errorMessage: errors.objective
            }) }}

            {% if wordsOver %}
            <span id="objective-error" class="govuk-error-message extra-error">
                You have {{ wordsOver }} words too many</span>
            {% endif %}

            <div class="govuk-form-group">
                {{ govukCheckboxes({
                    idPrefix: "needs",
                    name: "needs",
                    classes: "govuk-checkboxes--small",
                    fieldset: {
                        legend: {
                            text: "Needs identified in OASys related to this objective",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Select all that apply."
                    },
                    items: displayNeeds,
                    errorMessage: errors.needs
                }) }}
            </div>

            {{ govukButton({
                text: 'Continue',
                classes: 'govuk-!-margin-bottom-3'
            }) }}
                <p>or <a class="govuk-link" href="{{ backurl }}">cancel</a></p>
            </form>
        </div>
    </div>
{% endblock %}
