<link href="/stylesheets/application.min.css" media="screen, print" rel="stylesheet" type="text/css">
<style>
    .govuk-width-container {
        max-width: 700px;
    }

    .govuk-section-break--l {
        margin-top: 10px;
    }

    .govuk-table, .govuk-summary-list {
        font-size: 16px;
    }

    .govuk-summary-list__key {
        width: 40%;
    }

    .govuk-summary-list__value {
        width: 60%;
    }
</style>
