<style>
    .govuk-width-container {
        max-width: 700px;
    }

    .govuk-section-break--l {
        margin-top: 10px;
    }

    .govuk-table, .govuk-summary-list {
        font-size: 16px;
    }
</style>