{% extends "common/templates/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% set heading = "Active plan" %}
{% set errorHeading = "Error - " + heading %}
{% set addObjectiveUrl = "/individual-id/" + id + "/plan/" + planId + "/edit-objective/NEW" %}
{% set planRoute = "/individual-id/" + id + "/plan/" + planId %}
{% set printFullPlanUrl = planRoute + "/print-full" %}
{% set printSimplePlanUrl = planRoute + "/print-simple" %}
{% set endPlanUrl = planRoute + "/end-plan" %}
{% set addMeetingUrl = planRoute + "/add-sentence-plan-meeting" %}
{% set contactUrl = planRoute + "/contact-arrangements" %}
{% set buttonClasses='moj-button-menu__item moj-page-header-actions__action' %}
{% set secondaryButtonClasses='govuk-button--secondary ' + buttonClasses %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

    {# include errorSummary partial #}
    {{ super() }}
    {% if planStarted %}
        <div class="moj-banner moj-banner--success">
            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path>
            </svg>
            <div class="moj-banner__message"><span class="moj-banner__assistive">Success</span>The plan has been started
            </div>
        </div>
    {% endif %}
    <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
            <h2 class="govuk-heading-l">
                {{ heading }}
            </h2>
        </div>

        <div class="moj-page-header-actions__actions moj-button-menu__float-right">
            {{ mojButtonMenu({
                classes: 'active-plan-menu',
                items: [{
                    text: 'Add an objective',
                    href: addObjectiveUrl,
                    classes: secondaryButtonClasses
                }, {
                    text: 'Print full plan ',
                    href: printFullPlanUrl,
                    classes: secondaryButtonClasses
                }, {
                    text: 'Print simplified plan ',
                    href: printSimplePlanUrl,
                    classes: secondaryButtonClasses
                }, {
                    text: 'End the plan',
                    href: endPlanUrl,
                    classes: buttonClasses
                }]
            }) }}
        </div>
    </div>


    {% set objectivesHtml %}
        {% include "./tab-objectives.njk" %}
    {% endset -%}

    {% set summaryHtml %}
        {% include "./tab-summary.njk" %}
    {% endset -%}

    {% set meetingsHtml %}
        {% include "./tab-meetings.njk" %}
    {% endset -%}

    {% set contactHtml %}
        {% include "./tab-contact.njk" %}
    {% endset -%}

    {{ govukTabs({
        items: [
            {
                label: "Objectives",
                id: "objectives",
                panel: {
                html: objectivesHtml
            }
            },
            {
                label: "Plan summary",
                id: "summary",
                panel: {
                html: summaryHtml
            }
            },
            {
                label: "Sentence plan meetings",
                id: "meetings",
                panel: {
                html: meetingsHtml
            }
            },
            {
                label: "Contact arrangements",
                id: "contact",
                panel: {
                html: contactHtml
            }
            }
        ]
    }) }}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/all-moj.min.js"></script>
    <script>
      new MOJFrontend.ButtonMenu({
        container: $('.active-plan-menu'),
        buttonText: 'Options',
        buttonClasses: 'govuk-button--primary moj-button-menu__toggle-button--primary'
      });
    </script>

{% endblock %}
