{% from "govuk/components/button/macro.njk" import govukButton %}

<h3 class="govuk-heading-m govuk-!-font-size-27">
  Sentence plan meetings
</h3>

{% if meetings %}
  <ul class="govuk-list">
    {%- for item in meetings | sort(attribute='dateOfBoard') %}
    <li>
      <a class="govuk-link" href="/individual-id/{{ id }}/plan/{{ planId }}/view-sentence-plan-meeting/{{ item.id }}">{{ item.dateOfBoard | date("D MMMM YYYY") }}</a>
    </li>
    {% endfor -%}
  </ul>

  {{ govukButton ({
    text: 'Add another meeting',
    href: addMeetingUrl,
    classes: 'govuk-button--secondary'
  }) }}
{% else %}
  <p>No reviews have been done yet.</p>

  {{ govukButton ({
    text: 'Add a review',
    href: addMeetingUrl
  }) }}
{% endif %}
