<h3 class="govuk-heading-m govuk-!-font-size-27">
  Contact arrangements
</h3>

{% if data['liason'] %}

  <p>{{ data['liason'] | nl2br | safe }}</p>

  {{ govukButton ({
    text: 'Edit contact arrangements',
    href: '/offender/add-contacts',
    classes: 'govuk-button--secondary'
  }) }}
{% else %}
  <p>No contact arrangements have been added yet.</p>

  {{ govukButton ({
    text: 'Add contact arrangements',
    href: contactUrl
  }) }}
{% endif %}
