{% macro displayObjective(objectives, sectionHeading) %}
<h2 class="app-task-list__section">
  {{ sectionHeading }}
</h2>
<ul class="app-task-list__items">
  {%- for objective in objectives %}
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          {{ objective.description | safe }}
        </h3>
        <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-3">{{ objective.actionsCompleted }} of {{ objective.actions.length }} actions completed</p>
          {% set objectiveView = "/individual-id/" + id + "/plan/" + planId + "/objective/" + objective.id%}
          <a href="{{ objectiveView }}" class="govuk-link govuk-link--no-visited-state">
          View objective and actions
        </a>
      </span>
    </li>
  {% endfor -%}
</ul>
{% endmacro %}

<h3 class="govuk-heading-m govuk-!-font-size-27">
  Objectives
</h3>

<ul class="app-task-list">
  {%- if objectives.active %}
    {{ displayObjective(objectives.active, 'Active objectives') }}
  {% endif -%}

  {%- if objectives.future %}
      {{ displayObjective(objectives.future, 'Future objectives') }}
  {% endif -%}

  {%- if objectives.closed %}
      {{ displayObjective(objectives.closed, 'Closed objectives') }}
  {% endif -%}
</ul>

