<h3 class="govuk-heading-m govuk-!-font-size-27">
  Objectives
</h3>
<ul class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      Active objectives
    </h2>
    <ul class="app-task-list__items">

      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            An example of an open objective
          </h3>
          <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-3">0 of 1 actions completed</p>
          <a href="/offender/goal?goal=goal1" class="govuk-link govuk-link--no-visited-state">
            View objective and actions
          </a>
        </span>
      </li>
    </ul>
  </li>


  <li>
    <h2 class="app-task-list__section">
      Closed objectives
    </h2>
    <ul class="app-task-list__items govuk-!-margin-bottom-0">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            An example of a closed objective
          </h3>
          <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-3">1 of 1 actions completed</p>
          <a href="#0" class="govuk-link govuk-link--no-visited-state">
            View objective and actions
          </a>
        </span>
      </li>
    </ul>
  </li>
</ul>

