{% extends "common/templates/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set heading = "Your decisions" %}
{% set errorHeading = "Error - " + heading %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backurl
    }) }}
{% endblock %}

{% block content %}

    {# include errorSummary partial #}
    {{ super() }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate>

            {{  govukTextarea({
                id: 'decisions',
                name: 'decisions',
                value: decisions | safe,
                label: {
                    classes: 'govuk-label--l',
                    text: heading,
                    isPageHeading: true
                },
                hint: {
                    text: 'Record the key points from your conversations with the individual as you created their plan. Explain decisions you made, e.g. why you might not deal with a certain need at this time.'
                },
                errorMessage: errors.decisions
            }) }}

            {% if wordsOver %}
            <span id="decisions-error" class="govuk-error-message extra-error">
                You have {{ wordsOver }} words too many</span>
            {% endif %}

            {{ govukButton({
                text: 'Continue',
                classes: 'govuk-!-margin-bottom-3'
            }) }}
                <p>or <a class="govuk-link" href="{{ backurl }}">cancel</a></p>
            </form>
        </div>
    </div>
{% endblock %}
