{% extends "common/templates/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/review-table/macro.njk" import spReviewTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "common/templates/components/key-value-timeline/macro.njk" import spTimeline %}



{% set heading = "Objective and actions" %}
{% set errorHeading = "Error - " + heading %}
{% set buttonClasses='moj-button-menu__item moj-page-header-actions__action' %}
{% set secondaryButtonClasses='govuk-button--secondary ' + buttonClasses %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: 'Back to draft plan',
        href: backUrl
    }) }}
{% endblock %}

{% block content %}

    {# include errorSummary partial #}
    {{ super() }}
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h2 class="govuk-heading-l">
          {{ heading }}
        </h2>
      </div>

      <div class="moj-page-header-actions__actions moj-button-menu__float-right">
        {{ mojButtonMenu({
          classes: 'objective-menu',
          items: [{
            text: 'Add another action',
            href: nextUrl+'/edit-action/NEW',
            classes: secondaryButtonClasses
          }, {
            text: 'Re-order actions ',
            href: nextUrl+'/order-actions',
            classes: secondaryButtonClasses
          }, {
            text: 'Close Objective',
            href: nextUrl+'/close',
            classes: buttonClasses
          }]
        }) }}
      </div>
    </div>
    {% set objectiveNeeds %}
      <ul class="govuk-!-padding-left-4 govuk-!-margin-top-0 govuk-!-margin-bottom-0`">
        {% for need in objective.needs %}
        <li>{{ need }}</li>
        {% endfor %}
      </ul>
    {% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ spReviewTable({
              heading: 'Objective Details',
              rows: [[
                  {
                    text: "Objective"
                  },
                  {
                    text: objective.description
                  }
                ],
                [
                  {
                    text: "Needs"
                  },
                  {
                    html: objectiveNeeds
                  }
                ]
              ]
            }) }}

            {% for action in objective.actions %}
              {{ spReviewTable({
                heading: 'Action ' + loop.index,
                rows: [[
                    {
                      text: "Description"
                    },
                    {
                      text: action.description
                    }
                  ],
                  [
                    {
                      text: "Due date"
                    },
                    {
                      text: action.targetDate
                    }
                  ],
                  [
                    {
                      text: "Motivation"
                    },
                    {
                      text: action.motivation
                    }
                  ],
                  [
                    {
                      text: "Responsible Individual"
                    },
                    {
                      text: action.owner
                    }
                  ],
                  [
                    {
                      text: "Status"
                    },
                    {
                      text: action.status
                    }
                  ]
                ]
              }) }}
              {{ govukButton({
                text: 'Update action',
                href: nextUrl+'/update-action/'+action.id,
                classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
              }) }}
            {% endfor %}
        </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        {{ spTimeline(timelineData) }}
      </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/all-moj.min.js"></script>
    <script>
      new MOJFrontend.ButtonMenu({
        container: $('.objective-menu'),
        buttonText: 'Options',
        buttonClasses: 'govuk-button--primary moj-button-menu__toggle-button--primary'
      });
    </script>

{% endblock %}
