.offender-summary-avatar{
  display: block;
  width: 120px;
  height: auto;
}

.no-wrap-title{
  white-space: nowrap
}

tr:first-of-type .govuk-ordered-table-buttons button:first-of-type {
  visibility: hidden;
}

tr:last-of-type .govuk-ordered-table-buttons button:last-of-type {
  visibility: hidden;
}

.govuk-ordered-table-icon {
  margin: 0;
  border: 0;
  background-color: transparent;
}

.govuk-ordered-table-icon__up, .govuk-ordered-table-icon__down {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.govuk-ordered-table-icon__up {
  transform: translateY(6px) rotate(-135deg);
  -webkit-transform: translateY(6px) rotate(-135deg);
}

.govuk-ordered-table-icon__down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.table-layout-fixed {
  table-layout:fixed;
}

.table-column-clip-text {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.align-center {
  text-align:center; 
}

.align-right {
  text-align:right;
}

.nowrap {
  white-space: nowrap;
}

@media (max-width: 641px) {
  .sentence-plan-step-table .nowrap {
    white-space: normal;
  }
}


.sentence-plan-table-step {  
  width:35%;
}

@media (min-width: 769px) {
  .sentence-plan-table-step {  
    width:45%;
  }
}

.sentence-plan-table-move {  
  width:10%;
}
