{% extends "common/templates/print-layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro displayDefinition(key, value) %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ key }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ value | safe }}
        </dd>
    </div>
{% endmacro %}

{% set heading = "Display OASys sentence plan" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backUrl,
        text: 'Back to plans',
        classes: 'no-print'
    }) }}

    <a href='javascript:window.print()' style="float:right; margin-top:10px" class="govuk-button no-print">Print plan</a>
{% endblock %}

{% block content %}
    {# {% include "common/templates/includes/print-styles.njk" %} #}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "common/templates/includes/moj-svg.njk" %}
            <p class="govuk-heading-m print-header-org">HMPPS</p>

            <span class="govuk-caption-l govuk-!-margin-top-5 govuk-!-margin-bottom-2">OASys Sentence plan</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
                {{ offenderDetails.fullName }}
            </h1>


        <ul class="app-task-list">

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    {{ displayDefinition('Date plan created:', legacyPlan.createdDate | date('DD MMMM YYYY')) }} 
                    {{ displayDefinition('Date plan completed:', legacyPlan.completedDate | date('DD MMMM YYYY')) }} 
                </dl>

                <h2 class="govuk-heading-m / govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                    Objectives
                </h2>
                
                {% for objective in legacyPlan.objectives %}
                    {% if not loop.first %}
                        <hr class="govuk-section-break section-break-medium">
                    {% endif %}
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                        {{ objective.objectiveDescription }}
                    </h3>
                 
                        
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                         
                        {{ displayDefinition('Objective type:', objective.objectiveType.description ) }} 
                        {{ displayDefinition('How measured:', objective.howMeasured) }} 
                        {{ displayDefinition('Objective status:', objective.objectiveMeasure.status.description) }} 

                        {% set criminogenicNeeds %}
                        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 legacyneeds--bullet">
                            {% for need in objective.criminogenicNeeds %}
                                <li class="govuk-!-margin-bottom-0">
                                    {{ need.description }}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endset %}
                        {{ displayDefinition('Criminogenic needs:', criminogenicNeeds) }} 
                    </dl>

                    <h3 class="govuk-heading-s / govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                        Objective interventions
                    </h3>
                    {# {% for intervention in objective.interventions %}
                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            {{ displayDefinition('Description:', intervention.interventionDescription) }} 
                            {{ displayDefinition('Timescale:', intervention.timescale.description) }} 
                            {% set whoDoing %}
                                {{ intervention.whoDoingWork.description }}
                                {% if intervention.whoDoingWork.comments %}
                                    <br>{{ intervention.whoDoingWork.comments }}
                                {% endif %}
                            {% endset %}
                            {{ displayDefinition('Who doing work:', whoDoing) }} 
                        </dl>
                    {% endfor %} #}


                    <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Description</th>
      <th scope="col" class="govuk-table__header ">Timescale</th>
      <th scope="col" class="govuk-table__header ">Who doing work</th>
      <th scope="col" class="govuk-table__header ">Comments</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for intervention in objective.interventions %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ intervention.interventionDescription }}</td>
          <td class="govuk-table__cell ">{{ intervention.timescale.description }}</td>
          <td class="govuk-table__cell ">{{ intervention.whoDoingWork.description }}</td>
          <td class="govuk-table__cell ">{{ intervention.whoDoingWork.comments }}</td>
        </tr>
{% endfor %}
  </tbody>
</table>
                    
                {% endfor %}
                <hr class="govuk-section-break section-break-large">
                {# {{ planItem.objectives | dump }} #}



    </div>
{% endblock %}
