{% extends "common/templates/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set heading = "Close objective" %}
{% set errorHeading = "Error - " + heading %}
{% set backUrl = backUrl + '/' + objective.id %}

{% block pageTitle %}
  {% if errors %}
    {{ errorHeading }}
  {% else %}
    {{ heading }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: 'Back to objective',
        href: backUrl
    }) }}
{% endblock %}

{% block content %}

  {# include errorSummary partial #}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Close objective</span>
        {{ objective.description | safe }}
      </h1>
 <form method="post" novalidate>
      {{  govukCharacterCount({
        id: 'closeReason',
        name: 'closeReason',
        value: body.closeReason | safe,
        label: {
            classes: 'govuk-label--m',
            text: 'Explain why the objective can be closed'
        },
        maxwords: 250,
        errorMessage: errors.closeReason
      }) }}

      
      {{ govukButton({
            name: 'closeObjective',
            text: 'Close objective',
            classes: 'govuk-!-margin-bottom-3'
        }) }}
        </form>
      <p>or <a class="govuk-link" href="{{ backUrl }}">cancel</a>
      </p>
    </div>
  </div>
{% endblock %}
