{% extends "../partials/layout.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: backLink or '/tasklist'
  }) }}
{% endblock %}

{% block content %}
<script>
  function goToCrnPage(event){
    var crn = document.getElementById("crnNumber").value
    if(crn.match(/^\d{6}$/)) document.location = '/offender_summary/x'+crn
    event.preventDefault()
  }
</script>
<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
<form method="get" id="crnSearch" onsubmit="goToCrnPage(event)">
  {{ govukInput({
    label: {
      html: 'CRN Number: X'
    },
    id: "crnNumber",
    name: "crnNumber",
    value: data.crnNumber,
    classes: "govuk-input--width-5"
    }) }}

  {{ govukButton({
    text: "Search",
    classes: "govuk-button--start",
    peventDoubleClick: true
  }) }}
</form>
{% endblock %}
