{% from "button/macro.njk" import govukButton %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}
{% from "warning-text/macro.njk" import govukWarningText %}


{% extends "../partials/offenderDetailsLayout.html" %}

{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}
<div class="govuk-body">
  <h1 class="govuk-heading-xl govuk-grid-row">Update a step</h1>
  {% include "../partials/stepSummary.html" %}
  </div>
  <hr class="govuk-section-break--xl govuk-section-break--visible govuk-grid-row">
  <div class="govuk-grid-row">
    <form method="post">
      {% set completed_warning %}
        {{ govukWarningText({
          text: "Your completed step will not be editable after you save it.",
          iconFallbackText: "Warning"
        }) }}
      {% endset %}
      {% set partly_completed_warning %}
        {{ govukWarningText({
          text: "Your partly completed step will not be editable after you save it.",
          iconFallbackText: "Warning"
        }) }}
      {% endset %}
      {% set abandoned_warning %}
        {{ govukWarningText({
          text: "Your abandoned step will not be editable after you save it.",
          iconFallbackText: "Warning"
        }) }}
      {% endset %}
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "progressStep",
        name: "progressStep",
        items: [
          {
            value: "IN_PROGRESS",
            text: "In progress"
          },
          {
            value: "PAUSED",
            text: "Paused"
          },
          {
            value: "COMPLETED",
            text: "Completed",
            conditional: {
              html: completed_warning
            }
          },
          {
            value: "PARTLY_COMPLETED",
            text: "Partly completed",
            conditional: {
              html: partly_completed_warning
            }
          },
          {
            value: "ABANDONED",
            text: "Abandoned",
            conditional: {
              html: abandoned_warning
            }
          }
        ]
      }) }}
      {{ govukTextarea({
        name: "comments",
        id: "comments",
        rows: "3",
        label: {
          text: "Comments",
          classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
        },
        value: formObject.comments
      }) }}
      {{ govukButton({
          text: "Save and return to plan overview",
          classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
      {{ govukButton({
        text: "Exit without saving",
        href: "/sentence-plan/oasys-offender-id/" + oasysOffenderId + "/sentence-plan/" + sentencePlanId,
        classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
    </form>
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <div class="govuk-grid-row">
    {% for progress in formObject.progress%}
      <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details" {% if progress.open %} open {% endif %}>
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {{progress.progressStep + " " + progress.dateCreated}}
          </span>
        </summary>
        <div class="govuk-details__text">
          {{progress.comments}}
        </div>
      </details>
    {% endfor %}
  </div>
</div>
{% endblock %}
