{% from "button/macro.njk" import govukButton %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}
{% extends "../partials/offenderDetailsLayout.html" %}

{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    {% if formObject.step %}
      {% set stepTitle="Step" %}
      {% set stepDescription %}{{formObject.step}}{% endset %}
    {% else %}
      {% set stepTitle="Intervention" %}
      {% set stepDescription %}{{formObject.intervention}}{% endset %}
    {% endif %}
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">{{stepTitle}}</h2>
      <p>{{stepDescription}}</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div>
        <p>
          {{currentStatus}}
          <span class="govuk-!-font-weight-bold">Last update: </span>
          {{lastUpdate}}
        </p>
      </div>
      <p><span class="govuk-!-font-weight-bold">Owner: </span>{{formObject.owner}}</p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "progressStep",
        name: "progressStep",
        items: [
          {
            value: "IN_PROGRESS",
            text: "In progress"
          },
          {
            value: "PAUSED",
            text: "Paused"
          },
          {
            value: "COMPLETED",
            text: "Completed"
          },
          {
            value: "PARTLY_COMPLETED",
            text: "Partly completed"
          },
          {
            value: "ABANDONED",
            text: "Abandoned"
          }
        ]
      }) }}
      {{ govukTextarea({
        name: "comments",
        id: "comments",
        rows: "3",
        label: {
          text: "Comments",
          classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
        },
        value: formObject.comments
      }) }}
      {{ govukButton({
          text: "Save and return to plan overview",
          classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
      {{ govukButton({
        text: "Exit without saving",
        href: "/sentence-plan/oasys-offender-id/" + oasysOffenderId + "/sentence-plan/" + sentencePlanId,
        classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
    </form>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-grid-row">
    {% for progress in formObject.progress%}
      {{ govukDetails({
        summaryText: progress.progressStep + " " + progress.dateCreated,
        text: progress.comments
      }) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
