{% extends "../partials/offenderDetailsLayout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "select/macro.njk" import govukSelect %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Add a step</h1>
    <h3 class="govuk-heading-l">Select {{forename1}}'s needs</h3>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukCheckboxes({
          idPrefix: "needs",
          name: "needs",
          fieldset: {
            legend: {
              text: "Needs",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: needs
        }) 
      }}
      {{ govukSelect({
        id: "intervention",
        name: "intervention",
        label: {
          text: "Is this an intervention?",
          classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
        },
        items: interventionOptions
      }) }}
      {{ govukTextarea({
        name: "strength",
        id: "strength",
        rows: "3",
        label: {
          text: "Does "+ forename1 +" have a strength that will help?",
          classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
        },
        value: formObject.strength
      }) }}
      {{ govukTextarea({
        name: "step",
        id: "step",
        rows: "8",
        label: {
          text: "Describe the step",
          classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
        },
        value: formObject.step
      }) }}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "owner",
        name: "owner",
        fieldset: {
          legend: {
            text: "Who will make sure it’s done?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Responsible officer",
            text: "Responsible officer",
            checked: formObject.owner === "Responsible officer"
          },
          {
            value: "Individual",
            text: "Individual",
            checked: formObject.owner === "Individual"
          },
          {
            value: "Other",
            text: "Other",
            checked: formObject.owner === "Other"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Save step",
        classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
