{% extends "../partials/offenderDetailsLayout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "textarea/macro.njk" import govukTextarea %}

{% block content %}
{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}
<div class="govuk-body govuk-grid-row">
  <h1 class="govuk-heading-xl govuk-grid-row">I am {{forename1}}</h1>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{ govukTextarea({
      name: "offenderStatement",
      id: "offenderStatement",
      rows: "5",
      label: {
        text: "I want you to know:",
        classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
      },
      value: formObject.offenderStatement
    }) }}
    {% if sentencePlanId === "new" %}
      {{ govukButton({
          text: "Save and proceed to motivations",
          classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
      {{ govukButton({
        text: "Exit without saving",
        href: "/offender-summary/oasys-offender-id/" + oasysOffenderId,
        classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
    {% else %}
      {{ govukButton({
          text: "Save",
          classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
      {{ govukButton({
        text: "Exit without saving",
        href: "/sentence-plan/oasys-offender-id/" + oasysOffenderId + "/sentence-plan/" + sentencePlanId,
        classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
      }) }}
    {% endif %}
  </form>
</div>
{% endblock %}
