@import "govuk-frontend/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";

@import "components/accessible-autocomplete";
@import "components/cookie-message";
@import "components/task-list";

$white-transparent: rgba(255, 255, 255, .25);

.moj-header__link, .moj-header__navigation-link {
  &:focus {
    background-color: govuk-colour("yellow");
    outline: 0;
  }
}

.moj-header {
  border-bottom: 5px solid govuk-colour("blue");
}

p {
  @extend .govuk-body;
}

.moj-context-header {
  background-color: govuk-colour("blue");
  padding-bottom: govuk-spacing(2);
  padding-top: 5px;
}
.moj-context-header dt, .moj-context-header dd{
  color: govuk-colour("white");
  padding-top: 0;
  display: inline-block;
  margin: govuk-spacing(1);
}
.moj-context-header__block dt:first-of-type {
  margin-left: govuk-spacing(0) !important;
  padding-left: govuk-spacing(0) !important;
  border-left: 0;
}
.moj-context-header dt {
  @extend .govuk-heading-s;
  padding: 0 0 0 govuk-spacing(2) !important;
}
.moj-context-header dd {
  @extend .govuk-body-s;
}
.moj-context-header__block dt {
  border-left: 1px solid $white-transparent;
}
.moj-context-header__block {
  @extend .govuk-width-container;
  padding-bottom: govuk-spacing(1);
  border-top: 1px solid $white-transparent;
}
.moj-context-header__top-block {
  @extend .moj-context-header__block;
  border-top: 0
}
.no_left_border {
  border-left: 0 !important;
}

.extra-error {
  margin-top: -18px;
  margin-bottom: 25px;
}

.risk {
  color: $govuk-error-colour;
  font-weight: bold;
}

.moj-button-menu__float-right {
  float: right;
}

.print-header-org {
  display: inline-block!important;
  vertical-align: middle!important;
  margin: 0!important;
}

.section-break-large {
  margin-top: govuk-spacing(9);
  margin-bottom: govuk-spacing(4);
  border: 4px solid $govuk-brand-colour;
}

.section-break-medium {
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(4);
  border: 2px solid $govuk-brand-colour;
}

@media print
{    
    .no-print, .no-print * {
        display: none !important;
    }
}

.sp-print-button {
  float: right;
  margin-top: govuk-spacing(2);
}
.print-group {
  break-inside: avoid;
}

.govuk-phase-banner {
  border-bottom: 0;
}

.widthZero {
  width: 0px;
}
