{% from "govuk/components/radios/macro.njk" import govukRadios %}
{{ govukRadios({
    classes: "govuk-radios--small",
    idPrefix: "status",
    name: "status",
    fieldset: {
        legend: {
            text: "Set an initial status for this action" if initial else "Status",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
        }
    },
    items: statusItems,
    errorMessage: errors.status
}) }}
