{% extends "common/templates/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set heading = "Start plan" %}
{% set backurl = "/individual-id/" + id + "/edit-plan/" + planId %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backurl,
        text: 'Back to plan'
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form method="post" novalidate>
                {{ govukWarningText({
                    text: "You must make sure the OASys risk assessment is closed",
                    iconFallbackText: "Warning"
                }) }}
                <p>Now you have started a new sentence plan you must make sure the OASys risk assessment is closed. Log into OASys and close the assessment.</p>
                {{ govukButton ({
                    text: 'Continue',
                    classes: 'govuk-!-margin-bottom-3'
                }) }}
                <p>or <a class="govuk-link" href="{{ backurl }}">go back</a></p>
            </form>


        </div>
    </div>
{% endblock %}
