{% extends "common/templates/print-layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro displayObjectiveSection(objectives, sectionHeading, strapline) %}
<h2 class="app-task-list__section">
  {{ sectionHeading }}
</h2>
<p>{{ strapline }}</p>
<ul class="app-task-list__items">
  {%- for objective in objectives %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          {{ objective.description }}
    </h3>
    {{ govukTable({
        firstCellIsHeader: false,
        head: [
            {
                text: "Action"
            },
            {
                text: "Due date",
                format: "numeric"
            },
            {
                text: "Status",
                format: "numeric"
            }
        ],
        rows: objective.actionsDisplay
    }) }}
  {% endfor -%}
</ul>
{% endmacro %}

{% set heading = "Print sentence plan" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backUrl,
        text: 'Back to plan',
        classes: 'no-print'
    }) }}
{% endblock %}

{% block content %}
    {% include "common/templates/includes/print-styles.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "common/templates/includes/moj-svg.njk" %}
            <p class="govuk-heading-m print-header-org">HMPPS</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <span class="govuk-caption-l govuk-!-margin-top-5">Sentence plan</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
                {{ offenderDetails.fullName }}
            </h1>

            <h2 class="govuk-heading-m / govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                Plan summary
            </h2>

            <h3 class="govuk-heading-s / govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                Responsivity
            </h3>
            
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Response to Diversity Factors:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ diversity | nl2br | safe }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        They want us to know:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ needToKnow | nl2br | safe }}
                    </dd>
                </div>
            </dl>

            <h3 class="govuk-heading-s / govuk-!-margin-bottom-2">
                Plan Comments
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Your decisions:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ decisions | nl2br | safe }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Individual&rsquo;s comments:
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ comments | nl2br | safe }}
                    </dd>
                </div>
            </dl>

            <ul class="app-task-list">
  {%- if objectives.active %}
    {{ displayObjectiveSection(objectives.active, 'Active objectives', 'I am working towards the following objective(s)') }}
  {% endif -%}

  {%- if objectives.future %}
      {{ displayObjectiveSection(objectives.future, 'Future objectives', 'I will work on the following objective(s)') }}
  {% endif -%}

  {%- if objectives.closed %}
      {{ displayObjectiveSection(objectives.closed, 'Completed objectives', 'I have completed the following objective(s):') }}
  {% endif -%}
</ul>


            <h2 class="govuk-heading-m / govuk-!-margin-top-4 govuk-!-margin-bottom-2">
                Working on {{ "2" if data['goal2-added'] else "1" }} objectives
            </h2>

            <h3 class="govuk-heading-s">
                {{ data['goal1-description'] | nl2br | safe }}
            </h3>

            {{ govukTable({
                firstCellIsHeader: false,
                head: [
                    {
                        text: "Action"
                    },
                    {
                        text: "Due date",
                        format: "numeric"
                    },
                    {
                        text: "Status",
                        format: "numeric"
                    }
                ],
                rows: [
                    [
                        {
                            text: data['goal1-step1-intervention-type'] if data['goal1-step1-intervention'] == 'Yes' else data['goal1-step1-description']
                        },
                        {
                            text: goal1step1DueDate | date("MMMM YYYY"),
                            format: "numeric"
                        },
                        {
                            text: data['goal1-step1-status'],
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: data['goal1-step2-intervention-type'] if data['goal1-step2-intervention'] == 'Yes' else data['goal1-step2-description']
                        },
                        {
                            text: goal1step2DueDate | date("MMMM YYYY"),
                            format: "numeric"
                        },
                        {
                            text: data['goal1-step2-status'],
                            format: "numeric"
                        }
                    ]
                ]
            }) }}

            {% if data['goal2-added'] %}
                <h3 class="govuk-heading-s">
                    {{ data['goal2-description'] | nl2br | safe }}
                </h3>
                {{ govukTable({
                    firstCellIsHeader: false,
                    classes: 'govuk-!-top-bottom-4',
                    head: [
                        {
                            text: "Action"
                        },
                        {
                            text: "Due date",
                            format: "numeric"
                        },
                        {
                            text: "Status",
                            format: "numeric"
                        }
                    ],
                    rows: [
                        [
                            {
                                text: data['goal2-step1-intervention-type'] if data['goal2-step1-intervention'] == 'Yes' else data['goal2-step1-description']
                            },
                            {
                                text: goal2step1DueDate | date("MMMM YYYY"),
                                format: "numeric"
                            },
                            {
                                text: data['goal2-step1-status'],
                                format: "numeric"
                            }
                        ],
                        [
                            {
                                text: data['goal2-step2-intervention-type'] if data['goal2-step2-intervention'] == 'Yes' else data['goal2-step2-description']
                            },
                            {
                                text: goal2step2DueDate | date("MMMM YYYY"),
                                format: "numeric"
                            },
                            {
                                text: data['goal2-step2-status'],
                                format: "numeric"
                            }
                        ]
                    ]
                }) }}
            {% endif %}


            <h2 class="govuk-heading-m / govuk-!-margin-top-9 govuk-!-margin-bottom-2">
                Completed 1 objective
            </h2>
            <h3 class="govuk-heading-s">
                An example objective which has been completed
            </h3>
            {{ govukTable({
                firstCellIsHeader: false,
                head: [
                    {
                        text: "Action"
                    },
                    {
                        text: "Status",
                        format: "numeric"
                    }
                ],
                rows: [
                    [
                        {
                            text: "Intervention: Thinking Skills Programme (TSP)"
                        },
                        {
                            text: "Complete",
                            format: "numeric"
                        }
                    ],
                    [
                        {
                            text: "Intervention: A – Z"
                        },
                        {
                            text: "Complete",
                            format: "numeric"
                        }
                    ]
                ]
            }) }}
        </div>
    </div>
{% endblock %}
