{% from "components/footer/macro.njk" import govukFooter %}
{% from 'header/macro.njk' import mojHeader %}

{% extends "template.njk" %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: 'Organisation name',
      href: '#'
    },
    serviceLabel: {
      text: 'Service name',
      href: '#'
    },
    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Account name',
        href: '#',
        active: true
      }, {
        text: 'Sign out',
        href: '#'
      }]
    }
  }) }}
{% endblock %}

{% block pageTitle %}MOJ Node.js boilerplate{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('') }}/images/favicon.ico" type="image/x-icon" />
  <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">
{% endblock %}

{% block head %}
  {% include "common/templates/includes/head.njk" %}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        html: 'MOJ Node.js boilerplate'
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  {% include "common/templates/includes/scripts.njk" %}
{% endblock %}
