{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set heading = "Status of plan" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block content %}
    <p class="govuk-grid-column-full">
        <h1 class="govuk-visually-hidden">
            Offender plans:
        </h1>
        {% if planType == 'none' %}
            {# no current plan #}
            <div class="moj-page-header-actions">
                <div class="moj-page-header-actions__title">
                    <h1 class="govuk-heading-l">
                        {{ heading }}
                    </h1>
                </div>
            </div>
            <p>There is no active plan</p>
            {{ govukButton({
                text: 'Create a new plan',
                href: "/individual-id/" + individualId + "/edit-plan/new"
            }) }}
        {% elseif planType == 'draft' %}
            {# plan in draft #}
            <div class="moj-page-header-actions">
                <div class="moj-page-header-actions__title">
                    <h1 class="govuk-heading-l">
                        {{ heading }}
                    </h1>
                </div>
            </div>
            <p>There is a draft plan</p>

            {{ govukButton({
                text: 'Continue',
                href: "/individual-id/" + individualId + "/edit-plan/" + currentPlan.planId
            }) }}
        {% else %}
            {# active plan #}
            <div class="moj-page-header-actions">
                <div class="moj-page-header-actions__title">
                    <h1 class="govuk-heading-l">
                        {{ heading }}
                    </h1>
                </div>
            </div>
            <p>There is an active plan.</p>

            {{ govukButton({
                text: 'Update plan',
                href: "/individual-id/" + individualId + "/plan/" + currentPlan.planId
            }) }}
        {% endif %}

        {% if completedPlans.length %}
            <hr class="govuk-section-break section-break-large">
            <h2 class="govuk-heading-m">
                Previous plans
            </h2>
            
            <ul class="govuk-list">
                {% for plan in completedPlans | sort(reverse=true, attribute="completedDate") %}
                    {% if plan.legacy %}
                        {% set planUrl = 'previous-plan/' + plan.planId %}
                    {% else %}
                        {% set planUrl = 'plan/' + plan.planId %}
                    {% endif %}

                    <li>
                        <a class="govuk-link" href="{{ planUrl }}">Plan closed {{ plan.completedDate | date("DD MMMM YYYY") }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
