{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set otherHTML %}
  {{ govukInput({
    classes: "govuk-input--width-20",
    id: "responsibilityOther",
    name: "responsibilityOther",
    errorMessage: errors.responsibilityOther,
    value: responsibilityOther | encodeHtml | safe
  }) }}
{% endset %}

{{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "responsibility",
    name: "responsibility",
    fieldset: {
        legend: {
            text: "Who will make sure the action is done?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
        }
    },
    items: [
      {
        text: "Individual",
        value: "SERVICE_USER",
        checked: true if ("SERVICE_USER" in responsibility)
      },
      {
        text: "Offender manager",
        value: "PRACTITIONER",
        checked: true if ("PRACTITIONER" in responsibility)
      },
      {
        text: "Other",
        value: "OTHER",
        checked: true if ("OTHER" in responsibility),
        conditional: {
          html: otherHTML
        }
      }
    ],
    errorMessage: errors.responsibility
}) }}
