{% extends "common/templates/layout.njk" %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/textarea/macro.njk" import govukTextarea %}

{% set heading = "They need us to know" %}
{% set errorHeading = "Error - " + heading %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        heading
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backurl
    }) }}
{% endblock %}

{% block content %}

    {# include errorSummary partial #}
    {{ super() }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate>

            {{  govukTextarea({
                id: 'needtoknow',
                name: 'needtoknow',
                value: needtoknow,
                label: {
                    classes: 'govuk-label--l',
                    text: heading,
                    isPageHeading: true
                },
                hint: {
                    text: 'Add any other things the individual needs us to know about them. Use their words.'
                },
                errorMessage: errors.needtoknow
            }) }}

            {% if wordsOver %}
            <span id="needtoknow-error" class="govuk-error-message extra-error">
                You have {{ wordsOver }} words too many</span>
            {% endif %}

            {{ govukButton({
                text: 'Continue',
                classes: 'govuk-!-margin-bottom-3'
            }) }}
                <p>or <a class="govuk-link" href="{{ backurl }}">cancel</a></p>
            </form>
        </div>
    </div>
{% endblock %}
