{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set heading = "Active plan" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-visually-hidden">
              Create sentence plan
          </h1>
          <p>Coming soon.</p>
      </div>
  </div>
{% endblock %}
