{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/templates/components/task-list/macro.njk" import spTaskList %}

{% set heading = "Active plan" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Create sentence plan
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {{ spTaskList(planSummary) }} 
    </div>
  </div>

  {% if disableStartButton == false %}
    {%  set buttonHref = '/individual-id/' + id + '/edit-plan/' + planId + '/start-plan' %}
  {% endif %}
  {%  set buttonHref = '/individual-id/' + id + '/edit-plan/' + planId + '/start-plan' %}
  {{ govukButton({
    href: buttonHref,
    text: 'Start plan'
  }) }}
{% endblock %}
