{% extends "common/templates/print-layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro displayObjectiveSection(objectives, sectionHeading, strapline) %}
<h2 class="app-task-list__section">
  {{ sectionHeading }}
</h2>
<p>{{ strapline }}</p>
<ul class="app-task-list__items">
  {%- for objective in objectives %}

    {% switch objective.type %}
        {% case 'future' %}
            {% set dateHeader = "Future date" %}
        {% case 'closed' %}
            {% set dateHeader = "Date I finished it" %}
        {% default %}
            {% set dateHeader = "Date I'll finish it" %}
    {% endswitch %}

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          {{ objective.description }}
    </h3>

    {{ govukTable({
        firstCellIsHeader: false,
        head: [
            {
                text: "Action"
            },
            {
                text: dateHeader,
                format: "numeric"
            },
            {
                text: "How I'm doing",
                format: "numeric"
            }
        ],
        rows: objective.actionsDisplay
    }) }}
  {% endfor -%}
</ul>
{% endmacro %}

{% set heading = "Print sentence plan" %}

{% block pageTitle %}
    {{ heading }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backUrl,
        text: 'Back to plan',
        classes: 'no-print'
    }) }}

    <a href='javascript:window.print()' style="float:right; margin-top:10px" class="govuk-button no-print">Print plan</a>
{% endblock %}

{% block content %}
    {% include "common/templates/includes/print-styles.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "common/templates/includes/moj-svg.njk" %}
            <p class="govuk-heading-m print-header-org">HMPPS</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <span class="govuk-caption-l govuk-!-margin-top-5">Sentence plan</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
                {{ offenderDetails.fullName }}
            </h1>

            <ul class="app-task-list">
  {%- if objectives.active %}
    {{ displayObjectiveSection(objectives.active, "Things I'm doing") }}
  {% endif -%}

  {%- if objectives.future %}
      {{ displayObjectiveSection(objectives.future, "Things I'm going to do") }}
  {% endif -%}

  {%- if objectives.closed %}
      {{ displayObjectiveSection(objectives.closed, "Things I have finished") }}
  {% endif -%}
</ul>

    </div>
{% endblock %}
