{% extends "common/templates/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}


{% set heading = "Add an action" %}
{% set errorHeading = "Error - " + heading %}

{% block pageTitle %}
    {% if errors %}
        {{ errorHeading }}
    {% else %}
        {{ heading }}
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        href: backurl
    }) }}
{% endblock %}

{% block content %}

    {# include errorSummary partial #}
    {{ super() }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add actions to the objective</h1>
            <h2 class="govuk-heading-m">Action</h2>
            <form method="post" novalidate>
                {% include "./interventionList/index.njk" %}
                {% include "./targetDate/index.njk" %}
                {{ govukButton({
                    name: 'addAnotherAction',
                    text: 'Add another action',
                    classes: 'govuk-button--secondary'
                }) }}
                {{ govukButton({
                    name: 'continue',
                    text: 'Continue'
                }) }}
                <p>or <a class="govuk-link" href="{{ backurl }}">cancel</a></p>
            </form>
        </div>
    </div>
{% endblock %}
