{% extends "../partials/offenderDetailsLayout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">OaSys sentence plan {{ oasysSentencePlan.createdDate }}</h1>
  </div>
      
  {% for item in oasysSentencePlan.objectives %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
    <h3 class="govuk-heading-m">{{item.objectiveType.description}}</h3>
    <dl class='govuk-body '>
      <dt class='govuk-heading-s govuk-!-margin-bottom-1'>Measure</dt>
      <dt class="govuk-!-margin-0 govuk-!-margin-bottom-2">{{item.oasysObjectiveMeasure}}</dt>
      {% if item.objectiveDescription %}
        <dt class='govuk-heading-s govuk-!-margin-bottom-1'>What?</dt>
        <dl class="govuk-!-margin-0 govuk-!-margin-bottom-2">{{item.objectiveDescription}}</dl>
      {% endif %}
      {% if item.oasysInterventions %}
        <dt class='govuk-heading-s govuk-!-margin-bottom-1'>Intervention?</dt>
        <dl class="govuk-!-margin-0 govuk-!-margin-bottom-2">{{item.oasysInterventions}}</dl>
      {% endif %}
      <dt class='govuk-heading-s govuk-!-margin-bottom-1'>Who?</dt>
      <dl class="govuk-!-margin-0 govuk-!-margin-bottom-2">{{item.oasysWhoDoingWork}}</dl>
      <dt class='govuk-heading-s govuk-!-margin-bottom-1'>When?</dt>
      <dl class="govuk-!-margin-0 govuk-!-margin-bottom-2">{{item.timescalesText}}</dl>
    </dl>
  {% endfor %}
</div>
{% endblock %}