{% extends "../partials/layout.html" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}
{% from "table/macro.njk" import govukTable %}
{% from "summary-list/macro.njk" import govukSummaryList %}


{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container govuk-body">
  <section class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-one-quarter">
      <img 
        src="/api/offender/{{bookingId}}/image"
        alt="Headshot of {{forename1}} {{familyName}}"
        data-qa="offender-image"
        class='offender-summary-avatar'>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-heading-l">{{forename1}}{% if forename2 %} {{forename2}}{% endif %} {{familyName}}</div>
      <div class="govuk-caption-m">CRN number</div>
      <div class="govuk-heading-s">{{crn}}</div>
      {% if noms %}
        <div class="govuk-caption-m">NOMS number</div>
        <div class="govuk-heading-s">{{noms}}</div>
      {% endif %}
      {% if keyWorker %}
        <div class="govuk-caption-m">Key worker</div>
        <div class="govuk-heading-s">{{keyWorker}}</div>
      {% endif %}
    </div>
  </section>
  <section class="govuk-grid-row">
    <h2 class="govuk-heading-m">Summary</h2>
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [{text: "Main offence(s)"}, {text: mainOffence}],
        [{text: "Sentence type"}, {text: sentenceType}],
        [{text: "Sentence length"}, {text: sentenceLength}],
        [{text: "Start date"}, {text: startDate}],
        [{text: "Date ISP due"}, {text: dateISPDue}],
        [{text: "PAROM eligibility due"}, {text: paromEligibilityDate}],
        [{text: "Expected HDC/release date"}, {text: expectedHDCReleaseDate}]
      ]
    }) }}
  </section>
  <section class="govuk-grid-row">
    <h2 class="govuk-heading-m">Sentence plan</h2>
    {% if sentencePlans %}
      {{ govukSummaryList({
      firstCellIsHeader: true,
      rows: sentencePlans
    }) }}
    
    {% endif %}
    {{ govukButton({
      text: "Start a new plan",
      href: "/sentence-plan/oasys-offender-id/"+oasysOffenderId+"/sentence-plan/new",
      classes: "govuk-!-margin-right-1 govuk-grid-column-one-half"
    }) }}
    {% if latestSentencePlanId %} 
      {{ govukButton({
        text: "View/edit last sentence plan",
        href: "/sentence-plan/oasys-offender-id/"+oasysOffenderId+"/sentence-plan/"+latestSentencePlanId,
        classes: "govuk-grid-column-one-half"
      }) }}
    {% endif %}
  </section>
</div>
{% endblock %}

