{% extends "../partials/offenderDetailsLayout.html" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}


{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Search",
      href: "/"
    },
    {
      text: "Offender summary",
      href: "/offender-summary/oasys-offender-id/" + oasysOffenderId
    }
  ]
}) }}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Sentence plan for {{oasysOffenderId}}</h1>
  </div>
      {{ govukTable({
      firstCellIsHeader: true,
      rows: actions 
    }) }}
    {{ govukButton({
      text: "Add new action",
      classes: "govuk-!-margin-right-1 govuk-grid-column-one-half",
      href: "/sentence-plan/oasys-offender-id/" + oasysOffenderId + "/sentence-plan-id/" + sentencePlanId + "/action-id/" + nextActionId
    }) }}
</div>
{% endblock %}
