{% extends "../partials/offenderDetailsLayout.html" %}

{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "button/macro.njk" import govukButton %}

{% from "table/macro.njk" import govukTable %}

{% block content %}
  {% set rootUrl %}/sentence-plan/oasys-offender-id/{{oasysOffenderId}}/sentence-plan/{{sentencePlanId}}/step/{{stepId}}{% endset %}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl govuk-grid-row">Step details</h1>
    {% include "../partials/stepSummary.html" %}
    <div class="govuk-grid-row">
      {% if not completed %}
        {{ govukButton({
          text: "Edit step",
          classes: "govuk-button--secondary",
          href: rootUrl+"?origin="+rootUrl+"/view"
        }) }}
      {% endif %}
    </div>
    <div class="govuk-grid-row">
      <table class="govuk-table">
        <caption class="govuk-table__caption">Progress</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Date</th>
            <th scope="col" class="govuk-table__header app-custom-class">Status</th>
            <th scope="col" class="govuk-table__header app-custom-class">Comment</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for progress in formObject.progress%}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{progress.dateCreated}}</td>
              <td class="govuk-table__cell">{{progress.progressStep}}</td>
              <td class="govuk-table__cell">{{progress.comments}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not completed %}
        {{ govukButton({
          text: "Progress",
          href: rootUrl+"/progress?origin="+rootUrl+"/view"
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
